body {
    font-family: Arial, sans-serif;
    background-image:url(img/choque.jpg);

}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #cac5c5dc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
}

.container div {
    margin-bottom: 15px;
}

.container label {
    display: block;
    font-weight: bold;
}

.container input, .container select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3;
}

#pontuacaoDiaria {
    font-weight: bold;
    margin-top: 15px;
}
